.recipePage {
    padding: 20px;
}

.slideHere {
    margin-bottom: 20px;
}


.recipe-inputContainer {
    margin-bottom: 30px;
}

.recipe-inputContainer input[type="text"] {
    padding: 15px 20px;
    border: none;
    border-radius: 50px;
    width: 60%;
    max-width: 400px;
    box-shadow: 0 0 15px #ff007c, 0 0 25px #00d4ff;
    outline: none;
    transition: box-shadow 0.3s;
}

.recipe-inputContainer input[type="text"]:focus {
    box-shadow: 0 0 25px #ff007c, 0 0 35px #00d4ff, 0 0 45px #ffffff3b, 0 0 55px #000000;
}

.recipeHeading {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 200;
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: center;
    color: transparent;
    -webkit-text-stroke: 1px white;

    background: linear-gradient(145deg, #0a0a0a, #1f1f1f);
    border: none;
    padding: 15px 0;
    letter-spacing: 2px;
    position: relative;
    transition: 0.3s ease-in-out;
    overflow: hidden;
    -webkit-background-clip: text;
}

.recipeHeading:hover {
    /* transform: translateY(-5px); */
}

.recipeHeading::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 250%;
    height: 250%;
    background: radial-gradient(circle at center, rgba(255, 255, 255, 0.1), transparent);
    transform: translateX(-51.5%) translateY(-50%) rotate(50deg);
    transition: 0.6s ease-in-out;
}

.recipeHeading:hover::before {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
}

.recipe-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    color: white;
    margin: 15px;
}

.leftBox {
    flex: 1;
    text-align: center;
    margin-bottom: 10px;
}

.recipeName {
    font-size: 1.7rem !important;
    margin-bottom: 10px;
    color: #ff007c;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Times New Roman', Times, serif;
}

.recipeImg {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

.rightBox {
    display: flex !important;
    flex-direction: column;
    flex: 2;
    padding-left: 20px;
}

.rightBox .rightUpper {
    display: flex;
}

.rightBox .rightUpper .IngredientsList {
    text-align: left;
    width: 90%;
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding: 10px;
    color: white;
    font-size: 1rem;
    margin-bottom: 10px;
}

.rightUpperRight {
    width: 100%;
    text-align: left;
    padding: 10px;
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.rightBox .rightLower {
    text-align: left;
    padding: 10px;
    color: white;
    font-size: 1rem;
    margin-bottom: 10px;
}

.rightLowerRightSide {
    display: flex;
    flex-wrap: wrap;
}

.btn3-1,
.btn3-2,
.btn3-3 {
    padding: 10px 15px;
}

.paginationButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.paginationButtons button {
    margin: 0 5px;
}


@media screen and (max-width: 1300px) {
    .recipe-card {
        margin: 15px auto;
    }
}

@media screen and (max-width: 568px) {
    .recipe-inputContainer input[type="text"] {
        width: 80%;
        margin: 10px;
    }

    .searchBtn {
        padding: 15px 20px;
    }

    .recipeHeading {
        font-size: 2em;
        letter-spacing: 2px;
    }

    .recipeName {
        font-size: 1.5rem !important;
    }

    .rightLowerRightSide {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 5px;
    }

    .rightUpperRight,
    .rightUpperLeft {
        flex: 1;
    }

    .btn3-1,
    .btn3-2,
    .btn3-3 {
        min-width: 75vw;
    }

    .IngredientsHeading {
        text-align-last: right;
    }
}

.trendyRecipes {
    margin: 20px auto;
    max-width: 1200px;
    padding: 20px;
    background-color: #f9f9f918;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.trendYrecipeCardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.trendYrecipe-card {
    background-color: #ffffff11;
    padding: 10px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.trendYrecipe-card:hover {
    transform: translateY(-5px);
}

.trendYleftBox {
    padding: 15px;
}

.trendYrecipeImg {
    width: 300px;
    min-height: 300px;
    max-height: 300px;
    object-fit: cover;
    height: auto;
    border-radius: 15px;
}

.trendYrightBox {
    padding: 15px;
}

.trendYrecipeName {
    color: white;
}

.trendYrecipePara {
    margin: 5px 0;
    color: white;
}

.trendyBTn {
    background-color: #00d5ff2d;
    padding: 10px 10px;
}

.trendyBTn:hover {
    background-color: #00bf966c;
}