/* src/components/Home.css */

@media screen and (max-width:560px) {
    .hidden {
        opacity: 0;
        transition: all 1s;
        filter: blur(15px) !important;
        transform: translateX(-50%) !important;
    }

    .show {
        opacity: 1;
        filter: blur(0) !important;
        transform: translateX(0) !important;
    }
}

.hero {
    min-height: 80vh;
    margin: 30px;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(../../assets/restaurant3.jpg);
    filter: saturate(2);
    background-attachment: fixed;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: white;
    text-shadow: 1px 1px 10px rgb(0, 0, 0),
        1px 1px 10px rgb(0, 0, 0),
        1px 1px 10px rgb(0, 0, 0),
        1px 1px 10px rgb(0, 0, 0),
        1px 1px 10px rgb(255, 255, 255);
}

.hero p {
    font-size: 30px;
    margin-bottom: 40px;
    font-family: "Italianno", cursive;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 10px rgb(0, 0, 0),
        1px 1px 10px rgb(0, 0, 0),
        1px 1px 10px rgb(0, 0, 0),
        1px 1px 10px rgb(0, 0, 0),
        1px 1px 10px rgb(0, 0, 0);
}

.hero span {
    font-size: 50px;
    margin-bottom: 40px;
    font-family: "Italianno", cursive;
}

@media screen and (max-width: 500px) {
    .hero {
        min-height: 60vh;
    }

    .hero .to {
        color: black;
        font-weight: 900;
    }

    .hero h1 {
        font-size: 32px;
    }

    .hero p {
        font-size: 18px;
    }
}

.get-started-btn {
    position: relative;
    padding: 15px 40px;
    background: rgba(0, 0, 0, 0.205);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    filter: saturate(0.5);
}

.get-started-btn span {
    position: relative;
    z-index: 1;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.get-started-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, #ff007c, #00d4ff);
    transition: 0.5s ease-in-out;
    border-radius: 30px;
    filter: blur(15px);
}

.get-started-btn:hover::before {
    left: 0;
    filter: blur(5px);
}

.get-started-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 120%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    transition: 0.5s ease-in-out;
    z-index: 0;
    border-radius: 30px;
}

.get-started-btn:hover::after {
    left: 0;
}

.get-started-btn:hover {
    box-shadow: 0 0 15px #ff007c, 0 0 25px #00d4ff, 0 0 35px rgba(255, 255, 255, 0.3);
}

.get-started-btn span:hover {
    color: #ff007c;
}

.other-section {
    min-height: 60vh;
    margin: 20px;
    padding: 20px 100px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.other-section .description {
    display: flex;
    justify-content: space-between;
    gap: 15%;
}

.other-section .des-txt {
    width: 50%;
    gap: 20px;
}

.other-section .des-txt h1 {
    font-size: 40px;
    width: 80%;
}

.other-section img {
    height: 100%;
    width: 400px;
    object-fit: cover;
    border-radius: 15px;
}

.recipie .des-txt {
    display: flex;
    flex-direction: column;
}

.nutrition .description,
.nerbyRestaurants .description {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    gap: 15%;
}

.nutrition .des-txt,
.nerbyRestaurants .des-txt {
    width: 50%;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.nutrition h2,
.nerbyRestaurants h2 {
    text-align: right;
}

.other-section img {
    height: 100%;
    width: 400px;
    object-fit: cover;
    border-radius: 15px;
    border: 2px inset white;
    filter: brightness(0.8);
    transition: all .5s ease-in-out;
}

img:hover {
    filter: brightness(1);
}

@media screen and (max-width: 500px) {
    .other-section img {
        height: 300px;
        width: 100%;
    }

    .other-section {
        padding: 20px;
    }

    .other-section .description {
        flex-direction: column;
    }

    .other-section .des-txt {
        width: 100%;
        gap: 10px;
    }

    .other-section .des-txt h1 {
        font-size: 30px;
        width: 100%;
    }
}